<div class='container'>
  <h1>
    Questions Details
  </h1>
  <table class='table table-bordered'>
    <thead class="thead-default">
      <tr class="bg-info">
        <th class="col-md-2">Question</th>
        <th class="col-md-9"><%= @question.text %></th>
        <th class="col-md-1"></th>
      </tr>
      <% if @question.choices.empty? %>
      <tr>
        <td colspan="12">
          Please add choice to the question.
        </td>
      </tr>
    <% else
    @question.choices.each_with_index do |choice, index| %>
      <tr>
        <td>
          <%= index+1 %>
        </td>
        <td>
          <%= choice.text %>
          <% if choice.correct %>
          (Correct)
          <% end %>
        </td>
        <td>
          <%= form_tag({:controller => "choices", :action => "destroy"}) do %>
          <%= hidden_field_tag :question, @question.id %>
          <%= hidden_field_tag :choice, choice.id %>
          <%= submit_tag "Delete" %>
          <% end %>
        </td>
        <% end %>
        <% end %>
      </table>

      <h3>Add New Choice</h3>
      <%= form_tag({:controller => "choices", :action => "create"}, class: "form-horizontal") do %>
        <%= hidden_field_tag :question, @question.id %>
        <div class="form-group row">
          <label for="text" class="col-2 col-form-label">Choice</label>
          <div class="col-10">
            <%= text_area_tag :text, nil, size: "100x5"%>
          </div>
        </div>
        <div class="form-group">
          <%= check_box_tag :correct%>
          <%= label_tag :correct, "correct"%>
          <%= submit_tag "Create"%>
        </div>
      <% end %>

      <%= link_to 'Edit', edit_question_path(@question) %>|
      <%= link_to 'Back', new_question_path %>

      <% content_for(:title) do %>
      Question Details
      <% end %>
    </div>
